.nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;
}

.home-link{
    display: flex;
    align-items: center;
}

.logo-wrap{
    margin-right: 3px;
    width: 100px;
    height: 100px;
}

.logo-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-link span{
    font-size: 1.5rem;
    font-weight: 700;
}

.option-link{
    display: flex;
}

.buy-link{
   font-size: 1.5rem;
   font-weight: 600;
   padding: 7px 13px;
   margin: 0px 30px;
   transition: all .50s ease;
   border-radius: 8px; 
}

.option-link :hover{
    background: crimson;
    transition: 0.5s;
}

.user-acc{
    display: flex;
    align-items: center;
}

.user{
    margin-right: 10px;
    margin-left: 25px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all .50s ease;
    color: black;
}

#menu-icon{
    font-size: 35px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    .nav-bar{
        padding: 14px 2%;
        transition: 0.2s;
    }

    .home-link{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }

    .option-link{
        position: absolute;
        top:100%;
        right: -100%;
        width: 270px;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        background: crimson;
    }

    .buy-link{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .buy-link :hover{
        background: white;
        transform: translateY(5px);
    }

    .buy-link.open{
        right: 2%;
    }
}