
.save-title{
    padding-top: 50px;
}
.save-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

.property-card{
    border: 2px;
    cursor: pointer;
}

.property-card-content{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 20px;
}


.property-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
}

.property-content{
    padding: 20px;
    width: 100%;
}

.p-name, .p-address, .p-price, .p-features{
    margin-bottom: 20px;
}

.p-bathroom-details, .p-sqft-details{
    margin-left: 20px;
}
.unsaved{
    position: relative;
    bottom: 55px;
    left: 80%;
    padding: 10px 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.status{
    position: relative;
    bottom: 40px;
    left: 55%;
    padding: 10px 25px;
    color: black;
}

.edit-property{
    position: relative;
    bottom: 40px;
    left: 60%;
    padding: 10px 25px;
    color: black;
    cursor: pointer;
}

.delete-property{
    position: relative;
    bottom: 40px;
    left: 65%;
    padding: 10px 25px;
    color: black;
    cursor: pointer;
}

.edit-property :hover{
    transform: scale(1.2);
    color: crimson;
}

.delete-property :hover{
    transform: scale(1.2);
    color: crimson;
}